body{
    margin: 0px;
    padding: 0px;
    font-family: "Menbere", sans-serif;
    font-optical-sizing: auto;
    font-weight:weight;
    font-style:normal;
}
header .header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0px auto;
    margin-top: 10px;
}
header .header-container .logo {
    background-color: rgb(0, 0, 0);
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
}
header .header-container .logo svg {
    height: 30px;
    width: 30px;
    margin: 0px auto;
}
header .header-container .right-button a{
    padding: 10px 20px;
    font-size: 12px;
    color: white;
    border: 1px solid black;
    border-radius: 30px;
    background-color: black;
    text-decoration: none;
}
header .header-container .right-button a:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    transition-duration: 1s;
}
main .content-text{
    text-align: center;
    width: 70%;
    margin: 0px auto;
}
main .content-header h1{
    font-size: 50px;
}
main .content-para p{
    font-size: 18px;
}
main .grid-container{
    width: 70%;
    margin: 0px auto;
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    margin-bottom: 50px;
}
main .grid-container .items{
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    font-size: 15px;
}
main .grid-container .items:hover{
    transform: scale(1.1 ,1.1);
    transition-duration: 0.8s;
}
main .grid-container .items img{
    width: 50%;
    height: 100%;
    float: right;
}

main .grid-container .items p{
    height: 50%;
    max-width: 60%;
}
main .grid-container .items .item-image {
    width: 100%;
}    
main .grid-container #item1{
    background-color: rgb(103, 89, 185);
    grid-column: 1/2;
    grid-row: 1/3 ;
}
main .grid-container #item2{
    background-color: rgb(185, 146, 69);
    grid-row: 1/2;
    grid-column: 2/3 ;
}
main .grid-container #item3{
    background-color: rgb(203, 126, 189);
    grid-column: 3/4 ;
    grid-row: 1/2;
}
main .grid-container #item4{
    background-color: rgb(71, 138, 157);
    grid-column: 4/5 ;
    grid-row: 1/2;
}
main .grid-container #item5{
    background-color: rgb(209, 110, 83);
    grid-row: 2/3;
    grid-column: 2/4;
}
main .grid-container #item6{
    background-color: rgba(135, 13, 94, 0.285);
    grid-row: 2/3;
    grid-column: 4/5;
}
main .profile{
    width: 70%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
}
main .profile .profile-pic img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
}
main .profile .profile-about {
    width: 50%;
    margin-left: 30px;
}
main .profile .about-text p {
    color: rgb(65, 65, 65);
    margin-bottom: 30px;
}
main .profile .about-text a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: rgb(245, 203, 203);
    padding: 10px 20px;
    border-radius: 40px;
}
main .profile .about-text a:hover {
    color: rgb(0, 0, 0);
    border: 2px solid black;
    background-color: white;
    transition-duration:0.8s;

}
main .my-work{
    text-align: center;
    width: 100%;
}
main .my-work .work-images{
    width: 90%;
    display: flex;
    margin: 0px auto;
}
main .my-work .work-images .image{
    margin: 0px 10px;
}
main .my-work .work-images img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
main .navigation{
    margin: 20px auto;
    width: fit-content;
    align-items: center;
}



main .appointment{
    width: 70%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 55px 35px;
    border-radius: 20px;
    align-items: center;
}
main .appointment .text {
    width: 70%;
}

main .appointment .button a {
    width: 100%;
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: rgb(245, 203, 203);
    padding: 10px 20px;
    border-radius: 40px;  
}
main .appointment .button a:hover{
    background-color: white;
    color: black;
    transition-duration: 1s;
}













footer .footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 50px auto;
}
footer .footer-container .logo {
    background-color: rgb(0, 0, 0);
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
}
footer .footer-container .logo svg {
    height: 30px;
    width: 30px;
    margin: 0px auto;
}
footer .footer-container .right-button {
    align-items: center;
}
footer .footer-container .right-button a{
    padding: 10px 20px;
    font-size: 12px;
    color: white;
    border: 1px solid black;
    border-radius: 30px;
    background-color: black;
    text-decoration: none;
}
footer .footer-container .right-button a:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}


/* RESPONSIVENESS */

@media(min-width:576px){

}
@media(max-width:576px){
    header .header-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: 0px auto;
        margin-top: 10px;
    }
    header .header-container .right-button a{
        padding: 5px 10px;
        font-size: 17px;
        color: white;
        border: 1px solid black;
        border-radius: 30px;
        background-color: black;
        text-decoration: none;
    }
    main .content-text{
        width: 90%;
    }
    main .content-header h1{
        font-size: 40px;
    }
    main .content-para p{
        font-size: 15px;
        text-align: left;
        margin: 20px;
    }
    main .grid-container{
        width: 90%;
        margin: 0px auto;
        margin-bottom: 50px;
        /* display: flex;
        flex-direction: column; */
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        gap:10px;
    }
    main .grid-container #item1{
        grid-column: 1/3;
        grid-row: 1/2 ;
    }
    main .grid-container #item2{
        grid-column: 1/2;
        grid-row: 2/3 ;
    }
    main .grid-container #item3{
        grid-column: 2/3;
        grid-row: 2/3 ;
    }
    main .grid-container #item4{
        grid-column: 1/3;
        grid-row: 3/4 ;
    }
    main .grid-container #item5{
        grid-column: 1/3;
        grid-row: 4/5;
    }
    main .grid-container #item5{
        grid-column: 1/3;
        grid-row: 5/6 ;
    }
    main .grid-container #item6{
        grid-column: 1/3;
        grid-row: 6/7 ;
    }
    main .profile{
        width: 90%;
        margin: 0px auto;
        display: flex;
        flex-direction: column;
    }
    main .profile .profile-pic{
        text-align: center;
    }
    main .profile .profile-pic img{
        width: 250px;
        height: 250px;
        border-radius: 50%;
    }
    main .profile .profile-about {
        width: 100%;
        margin-left: 0px;
        text-align: center;
    }main .profile .profile-about h2 {
        font-size: 18px;
    }
    main .profile .about-text a {
        text-align: center;
    }
    main .my-work{
        margin: 50px 0px
    }
    main .my-work .work-images{
        display: flex;
        flex-direction: column;
    }
    main .my-work .work-images .image{
        margin: 10px 0px;
    }
    main .navigation{
        display: none;
    }

    main .appointment{
        width: 80%;
        margin: 0px auto;
        margin-top: 50px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    main .appointment .text {
        width: 100%;
        margin: 15px;
    }
    main .appointment .text p {
        margin: 0px;
        margin-bottom: 30px;
    }
    main .appointment .button  {
        margin: 20px;
    }


}